@import '../../style/theme/font';
@import '../../style/theme/default';
@import '../../style/animation/index';

$btn-height-small: 24px;
$btn-height-normal: 32px;
$btn-height-large: 40px;

/* styles begin */
$btn-primary: 4;
$btn-primary-hover: 5;
$btn-primary-active: 3;
$btn-danger: 2;
$btn-danger-hover: 3;
$btn-danger-active: 1;
$btn-success: 2;
$btn-success-hover: 3;
$btn-success-active: 1;
$btn-warning: 2;
$btn-warning-hover: 3;
$btn-warning-active: 1;

@mixin btn-white($prop) {
  @include theme-color($prop, stroke, 9);
}

@mixin btn-primary-hover($prop) {
  @include theme-color($prop, primary, $btn-primary-hover);
}

@mixin btn-style($name, $default, $hover, $active) {
  @include btn-white(color);
  @include theme-color(background-color, $name, $default);

  &:link,
  &:visited,
  &:focus {
    @include btn-white(color);
  }

  &:hover {
    @include btn-white(color);
    @include theme-color(background-color, $name, $hover);
    @include theme-color(border-color, $name, $hover);
  }

  &:active {
    @include btn-white(color);
    @include theme-color(background-color, $name, $active);
    @include theme-color(border-color, $name, $active);
  }
}

$border-style: ();

@mixin btn-type($type) {
  border-style: dashed;
}

.chengyou-btn {
  @include theme-color(color, stroke, 1);
  @include btn-white(background-color);
  @include theme-color(border-color, stroke, 5);

  font-size: $font-size-normal;
  text-align: center;
  vertical-align: middle;
  padding: 0 16px;
  line-height: $btn-height-normal;

  border-width: 1px;
  border-style: solid;
  border-radius: 2px;

  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  &:link,
  &:visited,
  &:focus {
    @include theme-color(color, stroke, 1);
    text-decoration: none;
  }

  &:hover {
    @include btn-primary-hover(color);
    @include btn-primary-hover(border-color);
    text-decoration: none;
  }

  &:active {
    @include theme-color(color, stroke, 1);
    @include theme-color(background-color, stroke, 10);
    @include theme-color(border-color, stroke, 5);
    text-decoration: none;
  }

  &-dashed {
    // @include btn-type(dashed);
    border: 1px dashed yellow;
    color: red;
  }

  &-text {
    border: 1px dashed yellow;
    color: red;
  }

  &-primary {
    @include btn-style(
      primary,
      $btn-primary,
      $btn-primary-hover,
      $btn-primary-active
    );
  }

  //   加载中
  &-loading {
    position: relative;
    color: transparent;
    cursor: not-allowed;

    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: transparent;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      border: 2px solid #eee;
      border-radius: 50%;
      margin-top: -8px;
      margin-left: -8px;
      box-sizing: border-box;
    }

    &::after {
      @include theme-color(border-top-color, primary, 4);
      @include theme-color(border-right-color, primary, 4);
      @include theme-color(border-bottom-color, primary, 8);
      @include theme-color(border-left-color, primary, 8);

      animation: chengyou-animation-spin 0.6s linear infinite;
    }
  }

  &-large {
    padding: 0 24px;
    height: $btn-height-large;
    line-height: $btn-height-large - 2px;
    font-size: $font-size-large;
  }

  &-small {
    height: $btn-height-small;
    line-height: $btn-height-small - 2px;
    padding: 0 8px;
  }

  //   多个按钮并排边距
  & + & {
    margin-left: 8px;
  }
}
