.loading {
  color: #1989fa;
}

.loading-spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  animation: rotate 0.8s linear infinite;
}

/* svg */
.loading-circular {
  display: block;
  width: 100%;
  height: 100%;
}

.loading-circular circle {
  animation: circular 1.5s ease-in-out infinite;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
